html {
    scroll-behavior: smooth;
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 28px !important;
    }
    #callout {
        display: none;
    }
    .reverse {
        flex-direction: column-reverse;
    }
    .m-center {
        margin: 0 auto !important;
        padding-bottom: 30px;
    }
    .pl-4,
    .px-4 {
        padding-left: 1.1rem !important;
    }

    .pr-4,
    .px-4 {
        padding-right: 1.1rem !important;
    }

    .calendar-parent {
        transform: translateY(10%) !important;
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: pink;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 14%);
}

.react-calendar * {
    color: inherit !important;
}

.react-calendar__month-view__days__day--weekend {
    color: inherit !important;
}
.react-calendar__tile--now {
    background: #fa807252 !important;
}
.react-calendar__tile--active {
    background: #fa8072 !important;
    color: white !important;
}

.calendar-parent {
    transform: scale(1.3) translateY(25%);
}

.react-calendar {
    width: 70vw !important;
    max-width: 500px !important;
    border: unset !important;
}

abbr[data-original-title],
abbr[title] {
    border-bottom: 1px solid black;
    text-decoration: var(--dblue);
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #fa8072 !important;
}
